.text-link {
    text-decoration: underline;
    color: var(--p-card-color);
    cursor: pointer;
}

.text-link:hover {
    background: none;
}

h1 {
    font-size: 4rem;
    margin: 1rem 0;
    line-height: 1.2;
    color: var(--p-surface-900);
}

h2 {
    font-size: 1.1rem;
}

.bold-700 {
    font-weight: 700;
}

.bold-800 {
    font-weight: 800;
}

.bold-900 {
    font-weight: 900;
}