.text-link {
    text-decoration: underline;
    color: var(--p-card-color);
    cursor: pointer;
}

.text-link:hover {
    background: none;
}

h1 {
    font-size: 72px;
    margin: 1rem 0;
    line-height: 1.2;
    font-family: SchibstedGrotesk;
    color: var(--primary);
}

h2 {
    font-size: 48px;
    font-family: SchibstedGrotesk;
    color: var(--primary);

}

h3 {
    font-size: 32px;
    font-family: SchibstedGrotesk;
    color: var(--primary);
}

h4, .subtitle {
    font-size: 24px;
    font-family: SchibstedGrotesk;
    color: var(--primary);
}

p, .text {
    font-size: 18px;
    line-height: 1.6;
    font-family: Inter;
    color: var(--primary);
}

.subtext {
    font-size: 16px;
    line-height: 1.6;
    font-family: Inter;
    color: var(--primary);
}

.bold-700 {
    font-weight: 700;
}

.bold-800 {
    font-weight: 800;
}

.bold-900 {
    font-weight: 900;
}

.secondary {
    color: var(--secondary);
}